body{

    background-image: linear-gradient(#006aac, #03a1c0);
}

.container{
    text-align: center;
    min-height: 100vh;
    
}

.row{
    background-color: white;
    border-radius: 10px;
}

.caixa_titulo{
    border-bottom: solid 1px lightgray;
    font-size: 20px;
}

.caixa_conteudo{
    font-size: 20px;
    height: 300px;
}

.caixa_formulario{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.btn-primary{
    width: 100%;
}